<?xml version="1.0"?>
<plugin id="org.datanucleus.scala" name="DataNucleus Scala plugin" provider-name="DataNucleus">

    <extension point="org.datanucleus.java_type">
        <java-type name="scala.Option" dfg="true" container-handler="org.datanucleus.scala.OptionHandler"/>
        <java-type name="scala.Some" dfg="true" container-handler="org.datanucleus.scala.OptionHandler"/>
        <java-type name="scala.None$" dfg="true" container-handler="org.datanucleus.scala.OptionHandler"/>
        
        <java-type name="scala.Product" dfg="true" />
    </extension>
    
    <extension point="org.datanucleus.store.rdbms.java_mapping">
        <mapping java-type="scala.Option" mapping-class="org.datanucleus.store.rdbms.mapping.java.SingleCollectionMapping"/>
        <mapping java-type="scala.Some" mapping-class="org.datanucleus.store.rdbms.mapping.java.SingleCollectionMapping"/>
        <mapping java-type="scala.None$" mapping-class="org.datanucleus.store.rdbms.mapping.java.SingleCollectionMapping"/>
        
        <mapping java-type="scala.Product" mapping-class="org.datanucleus.scala.product.ProductMapping"/>
    </extension>
    
</plugin>
